    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }
    html{
        height: 100%;
        width: 100%;
    }
    body{
        color:white;
        min-height: 100%;
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
    }
    #logoAnim{
        display:block;
        position: absolute;
        overflow: hidden;
        transform: translate3d(0,0,0);
        text-align: center;
        opacity: 1;
        top: 10%;
        transition-property: width, height, top;
        transition-duration: 1s;
    }

    
    #instructions{

        width: 240px;
        height: 100px;
        /* background-color: crimson; */
        /* opacity: 0.2; */
        position: absolute;
        bottom: 15%;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
       
    }
    #instructions.show{
        visibility: visible;
        opacity: 1;
    }

    #instructions #anim{
        width: 10%;
        height: 50%;
        /* background-color: blue; */
        background-image: url(phone_icon.svg);
        background-repeat: no-repeat;
        
    }

    #instructions .instructiontext{
        padding-top: 1em;
        font-family: 'Roboto';
        font-weight: 200;
        font-style: italic;
        color: #bada55;
        letter-spacing: 0.15em;
       
    }

    p{
        text-align:center;
        user-select: none;
    }
    #title{
        position: absolute;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #logoAnim{
            width:75%;
            height:75%;
        }
        #logoAnim.sm{
            top: 0;
            width: 40%;
            height: 40%;
    
        }
    }
    @media only screen  and (min-width : 480px) {
        #logoAnim{
            width:60%;
            height:60%;
        }
        #logoAnim.sm{
            width: 25%;
            height: 25%;
    
        }
    }