    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }
    html{
        height: 100%;
        width: 100%;
    }
    body{
        color:white;
        min-height: 100%;
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
    }
    #logoAnim{
        display:block;
        position: absolute;
        overflow: hidden;
        transform: translate3d(0,0,0);
        text-align: center;
        opacity: 1;
        /* left: 50%; */
        /* top:50%; */
    
    }
    p{
        text-align:center;
    }
    #title{
        position: absolute;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #logoAnim{
            width:100%;
            height:100%;
        }
    }
    @media only screen  and (min-width : 480px) {
        #logoAnim{
            width:50%;
            height:50%;
        }
    }